*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input, textarea {
		border: 1px solid $border-color;
		outline: none;
		&:focus:required:invalid {
			border-color: #e02f40;
		}
		&:required:valid {
			border-color: #34a74e;
		}
	}
}

::placeholder {
	color: #666;
}

*::selection {
  color: $white;
  background-color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: initial;
  letter-spacing: 0.5px;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  margin: 30px -100px;
  font-size: 28px;
  line-height: 45px;
  letter-spacing: 0.5px;
  font-style: normal;
  text-align: center;
  
  @media only screen and (max-width: $tablet) {
    margin: 30px 0;
    font-size: 24px;
    line-height: 38px;
  }
}

pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

img,
.zoom-img-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  &+em {
    text-align: center;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $gray;
  }
}

a {
    text-decoration: none;
    color: $link-color;
    transition: $global-transition;
    &:hover {
      color: darken($link-color, 10%);
    }
    &:active {
      color: darken($link-color, 20%);
    }
}

hr {
  display: block;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background: $light-gray;
}

/* For WG */
u {
  color: #414040;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: none;
  background-color: #faf6d6;
}

em {
  display: block;
  font-weight: normal !important;
  font-style: normal !important;
  color: #dc6100;
  margin: 1em 1em;
}

sp {
  color: #dc6100;
}

.slogan-wrapper-1 {
  background-color: gray;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  padding: 2px;
  margin: 40px 0;
  .slogan-wrapper-2 {
    background-color: #fff;
    padding: 2px;
    .slogan {
      padding: 0.3em 1.5em;
      font-size: 15px;
      background-color: gray;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      color: #fff;
      line-height: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.post__nav__title a {
  max-width: 90% !important;
}

.post__nav__title {
  font-size: 1.1em !important;
  margin-bottom: 5px !important;
}

.copyright {
  &, a {
    font-size: 15px;
    text-align: center;
    color: #393e4699 !important;
  }
}

a.download-post {
  // color: #f4f2ee !important;
  // background-color: #1c1d1ed4 !important;
  // border-radius: 15px !important;
  // padding: 5px 10px !important;
  // font-size: .9em !important;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 12px;
  border-width: 0;
  box-shadow: rgba(45,35,66,0.4) 0 2px 4px,rgba(45,35,66,0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #9cb012;
  text-shadow: 0px 0px 0px #b4cc09;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
  letter-spacing: 5px;
  /* font-weight: bold; */
  
}

kbd {
  display: inline-block;
  margin: 0 .1em;
  padding: .1em .6em;
  font-size: .8em;
  border: 1px solid #80808033;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgb(14 15 15 / 15%), inset 3px 1px 0 0 #fff;
  overflow-wrap: break-word;
}

.post__navigation {
  border-bottom: none !important;
}

.post-title {
  font-size: 28px !important;
}

h1, h2, h3 {
  text-shadow: 2px 2px 3px #bcb7b7c4;
  font-weight: normal !important;
}

h2 {
  font-size: 1.2em;
  color: #000000e0;
  text-shadow: 2px 2px 3px #bcb7b7c4;
}

h3 {
  font-size: 1em;
  color: #000000e0;
  text-shadow: 1px 1px 2px #bcb7b7c4;
}

.post-title-box .post-title {
  width: 100% !important;
  margin: 0.5em 0;
}

.post {
  margin: 10px auto !important;
}

audio {
  width: 100%;
  margin: 1rem 0;
}

.post__navigation .prev__excerpt, .post__navigation .next__excerpt {
  font-size: 16px;
  line-height: 1.5em;
  text-align: left !important;
}

.post-title-box .post__date {
  font-weight: normal !important;
  font-size: 16px;
}